<section class="todoapp">
<header class="header">
		<h1>todos</h1>
		{{new-todo placeholder="What needs to be done?" autofocus="true" createTodo=(action 'createTodo')	}}
	</header>
{{outlet}}
	<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{application.incompleteTodos.length}}</strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						{{#link-to 'index'}}All{{/link-to}}
					</li>
					<li>
						{{#link-to 'active'}}Active{{/link-to}}
					</li>
					<li>
						{{#link-to 'completed'}}Completed{{/link-to}}
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				{{#if hasCompleted}}
					 <button class="clear-completed" onClick={{action 'clearCompleted'}}>Clear completed</button>
				{{/if}}
	</footer>

</section>
<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>